@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    max-height: calc(100vh - 64px); /* Adjust the value based on your design */
    overflow-y: hidden;
}

.container {
    @apply flex;
}

/* NAV BAR */
.navbar {
    @apply bg-englishViolet text-white p-6 flex justify-between items-center;
}

.markit h1 {
    @apply text-lg font-bold;
}

.modes {
    @apply ml-32; 
}

.menu-button {
    @apply text-white py-2 px-4 rounded transition-colors duration-300;
}

.menu-btn.active {
    @apply bg-vistaBlue text-white;
}

#setup-mode {
    @apply mr-4;
}

#vendor-mode {
    @apply mr-4;
}

.hidden {
    display: none;
}

.active {
}

.about-link {
    @apply text-white text-sm hover:text-vistaBlue;
}

/* SIDE MENU */

.sidebar {
    @apply bg-englishViolet text-white w-64 min-h-screen;
}

.menu-top-container {
    @apply flex justify-evenly;
    
}

.room-name-input {
    @apply bg-englishViolet text-white w-full px-3 py-2  border rounded-md focus:outline-none focus:border-blue-500;
}

.card-container {
    @apply px-8 bg-vistaBlue border border-vistaBlue text-englishViolet rounded-lg shadow-md m-4;
}

.vendor-card-container {

}

#vendor-menu {
    max-height: calc(100vh - 64px); /* Adjust the value based on your design */
    overflow-y: auto;
}

/* CANVAS */

.canvas {
    @apply flex-1 p-4 bg-gray-400;
}

.canvas-container {
    @apply bg-white p-4 rounded-lg shadow-md m-10;
    height: 75vh;
}

